.carousel-item {
  background-size: cover;
  background-position: center;
}

.img-1 {
  background-image: url('/images/about-us.jpg');
}

.img-2 {
  background-image: url('/images/about-us.jpg');
}

.img-3 {
  background-image: url('/images/about-us.jpg');
}