@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --white: #FFFFFF;
    --gray: #333;
    --primary: #007aff;
    --secondary: #dc2626;
}

/* Mapa */
.map-width {
    height: calc(100vh - 65px);
    min-width: 100vw;
    position: relative;
    z-index: -20;
    float: left;
}
@media (min-width: 640px) {
    .map-width {
        min-width: calc(100vw - 14rem);
    }
}
@media (min-width: 768px) {
    .map-width {
        min-width: calc(100vw - 15rem);
    }

}
@media (min-width: 1024px) {
    .map-width {
        min-width: calc(100vw - 16rem);
    }
}

.cluster-icon {
    background-color: var(--secondary);
    height: 2em;
    width: 2em;
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 1.2rem;
    box-shadow: 0 0 0px 5px var(--white);
}

#animation {
    width: 100%;
    color: var(--white);
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
}

.custom-scrollbar .ps__rail-x > .ps__thumb-x,
.custom-scrollbar .ps__rail-y > .ps__thumb-y {
    background-color: #4299e1; /* Este es el color 'blue-500' de Tailwind */
    border-radius: 0.375rem; /* Este es 'rounded-md' en Tailwind */
}

.custom-scrollbar .ps__rail-x:hover > .ps__thumb-x,
.custom-scrollbar .ps__rail-y:hover > .ps__thumb-y {
    background-color: #2b6cb0; /* Este es el color 'blue-700' de Tailwind */
}